* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #6E5E4E;
  color: #25419B;
  padding-top: 4%;
  font-family: 'Raleway', sans-serif;

  }

  @media (max-width: 1024px) {
    .main-title {
      font-size:15vw !important;
      padding-top: 5%;
    }
  }
  
  @media (min-width:1025px) {
    .main-title {
      font-size:5vw !important;
      padding-top: 1%;
    }
  }


 
  input {
    background: transparent !important;
    
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-color: #801914 !important;
    outline: none !important;
    color:#25419B !important;
 
   }


  
  .main-title{
    font-family: 'Parisienne', cursive !important;
    font-size: 700%;
    font-weight: 500;
  }

  .main-title2{
    font-family: 'Parisienne', cursive !important;
    
  }
 

 

 .main-sidebar-img {
     width: 10%;
     
 }
  
 .main-img {
    width: 10%;
}
  
  /*.main-button {
    background: #801914 !important;
    border: 5px solid #A77C51;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding: 1% 1% 1% 1%;
    font-family: 'Parisienne', cursive !important;
  }*/

 /* @media (max-width:620px) {
    
    .main-button {
      width: 50%;
      font-size: 5vw;
      margin-top: 15%;
    }
  }
  
  @media (min-width:621px) {
    .main-button {
      width: 40%;
      font-size: 1.8vw;
      margin-top: 5%;
    }
  }*/

 

  
    
