* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  color: #25419B;
  background: url("img/chateau-chimay.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 3%;
 

  
}

.main-title{
  
  font-family: 'Parisienne', cursive !important;
 
  font-weight: 500;
  
 
}

@media (max-width: 620px) {
  .main-title {
    font-size:15vw !important;
    padding-top: 8%;
  }
  img {
    width: 40%;
  }
  .main-button {
    width: 50%;
    font-size: 7vw;
    margin-top: 10%;
  }
}

@media (min-width:621px) {
  .main-title {
    font-size:6vw !important;
  }
  img {
    width: 15%;
  }
  .main-button {
    width: 40%;
    font-size: 1.8vw;
  }
}

.main-img {
  padding-top: 5%;
    padding-bottom: 7%;
    
}

.main-button {
 
  font-family: 'Parisienne', cursive !important;
  background: #801914 !important;
  border: 5px solid #A77C51;
  font-weight: 900;
 padding: 1% 1% 1% 1%;
  
}


.main-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
 
}

.main-text2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-family: 'Parisienne', cursive !important;
  border-bottom: 4px solid #801914;

}


@media (max-width: 620px) {
  .main-text2 {
    font-size: 7vw;
    padding-top: 15%;

  }
  
}

@media (min-width:621px) {
  .main-text2 {
    font-size: 2vw;
    padding-top:5%;
  }
}


@media (max-width: 620px) {
  .main-text {
    font-size: 4vw;
    padding-top: 20%;

  }
  
}

@media (min-width:621px) {
  .main-text {
    font-size: 1vw;
    padding-top:5%;
  }
}