* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url("img/chateau-chimay.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #25419B;
  padding-top: 4%;

  }

  @media (max-width: 1024px) {
    .main-title {
      font-size:15vw !important;
      padding-top: 5%;
    }
  }
  
  @media (min-width:1025px) {
    .main-title {
      font-size:5vw !important;
      padding-top: 1%;
    }
  }

  @media (max-width:620px) {
    
    .main-button {
      width: 50%;
      font-size: 5vw;
      margin-top: 15%;
    }
  }
  
  @media (min-width:621px) {
    .main-button {
      width: 40%;
      font-size: 1.8vw;
      margin-top: 5%;
    }
  }

  input {
    background: transparent !important;
    
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-color: #801914 !important;
    outline: none !important;
    color:#25419B !important;
   }

   input,
input::-webkit-input-placeholder {
    font-size: 35px !important;
    font-family: 'Parisienne', cursive !important;
    text-align: center;
    color: #25419B !important;
    font-weight: bold;
   

}
::placeholder { 
  color: black !important;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: black !important;
}

::-ms-input-placeholder { 
  color: white !important;
}

  
  .main-title{
    font-family: 'Parisienne', cursive !important;
    font-size: 700%;
    font-weight: 500;
  }
  
  .main-img {
    padding-top: 20px;
      padding-bottom: 90px;
  }
  
  .main-button {
    background: #801914 !important;
    border: 5px solid #A77C51;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding: 1% 1% 1% 1%;
    font-family: 'Parisienne', cursive !important;
  }

  .main-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding-top: 60px;
   
  }

.main-text a{
    color: #25419B !important;
  }

  .main-social-media-icon {
  padding-right: 5%;
  opacity: 0;
  background-color: red !important;
  }
  
  .main-social-media-icon2 {
    margin: 2% 3% 0% 3%;
 
    padding:10px;

  background-color:  #801914 !important; 
  height: auto;
  width:auto;
  border-radius: 50%;
  }

  .main-social-media-icon2 i{
 
    color:rgb(230, 166, 166);
    height: 100%;
    width:100%;
    }
    a {
      text-decoration: none;
        color: #ffffff;
        
     }
    
     a:hover {
      text-decoration: none;
      color: #ffffff;
      
     }