* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("img/chateau-chimay.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

 
}
/* 
body, html {
  height: 100%;
  margin: 0;
} */


.main-title {
  color: #25419B;
  font-family: 'Parisienne', cursive !important;
 
  font-weight: 500;
  padding-top: 5%;
  font-size:5vw !important;
 
}
@media (max-width: 620px) {
  .main-title {
    font-size:15vw !important;
  }
}

@media (min-width:621px) {
  .main-title {
    font-size:5vw !important;
  }
}


.main-img {
    padding-left: 20%;
}

.footer {
  margin-top: 3%;
  /* width: 8%;
  height: 8%; */
 
}
@media (max-width: 1024px) {
  .footer {
    width: 20%;
    height: 20%;
  }
  body{
    margin-top:20%;
    margin-bottom:20%;
  }
}
@media (min-width:1025px) {
  .footer {
    width: 8%;
    height: 8%;
  }
}
.footer img{
  max-width: 100%;
}


.footer-img2 {
  transform: rotate(-15deg);
}


.footer-img3 {
  transform: rotate(-30deg);
}

.footer4 {

  margin-left: 10%;
}

.footer-img4 {
  transform: rotate(-45deg);
}

.footer5 {
  margin-left: 20%;
}

.footer-img5 {
  transform: rotate(-60deg);
}

.main-button {
  background: #801914 !important;
  border: 5px solid #A77C51;
  
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
 padding: 1% 1% 1% 1%;
}


@media (max-width: 620px) {
  
  .main-button {
    width: 50%;
    font-size: 4vw;
  }
}

@media (min-width:1025px) {
  .main-button {
    width: 40%;
    font-size: 1.8vw;
  }
}




